/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Dec 18, 2023, 11:01:44 PM
    Author     : iiit
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
body{
   
    display: flex;
   background:url('i.jpeg')  ;
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    background-attachment: fixed;
    align-items: center;
   

}
.wrapper{
    width: 480px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(9px);
    color: #fff;
    border-radius: 12px;
    padding: 30px 40px;
  border-color:#5cf74d;
  margin-left: 400px;
  margin-top: 300px;
  
   position: fixed;
}

h2{
    font-size: 2em;
    text-align: center;
    color:white;
    transition: .5s;
}

.input-box{
    position: relative;
    width: 320px;
    margin: 30px 0;
}
.form-box{
     position: fixed;
    width: 400px;
}
.input-box input{
    height: 40px;
    width: 100%;
    background:transparent;
   border: 2px solid rgba(255, 255, 255, .2);
    outline: none;
    border-radius: 40px;
    color: white;
   margin-right: 700px;
    padding: 0 10px 0 35px;
    margin-left: 40px;
    border-color: #46f3ea;
    height: 40px;
}

.input-box i{
    position: absolute;
    color: #f0f8ff;
    font-size:1sem;
   line-height:85px;
   margin-left: 10px;
}

.input-box input::placeholder{
    color:rgb(241, 227, 185);
}
.wrapper a{
    margin: -15px 0 15px;
    color:lightblue;
}


button{
    position: relative;
    width: 90%;
    height: 36px;
    margin-left: 20px;
    border: green;
    cursor: pointer;
    outline: blue;
    border-radius: 10px;
    font-size:1em;
    
}

.wrapper .lo{
    margin-left: 30px;
    margin-top: 20px;
    color: white;
}

.registration-link{
    font-size: .9em;
    text-align: center;
  margin: 25px 0;
}
.registration-link p{
    color: #f0f8ff;
}
.registration-link p a{
    color:rgb(223, 30, 30);

}

.popup{
    width: 400px;
    background-color: #f0f8ff;
    border-radius: 6px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    transition: transform .4s,top .4s;
    text-align: center;
    padding: 0 30px 30px;
    height: 330px;
    color: black;
    visibility: hidden;

}
.popup h2{
    color: black;
}
.popup i{
    color: green;
    font-size: 50px;
}
.popup button{
    width: 100%;
    background: green;
    padding: 10px 0;
    margin-top: 50px;
    border: none;
    font-size: 10px;
    outline: none;
    color: #f0f8ff;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 0 2px rgba(0,0,0,.1);
}
.popup a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 2px;
}
.open-slide{
    top:50%;
    transform: translate(-50%,-50%) scale(1);
    visibility: visible;
}

  